.flex-container{
    display: flex;
    border: 1px solid hwb(0 0% 100%);
    padding: 16px;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    align-items: stretch
    /* height: 50px; */
}

.items{
    background-color: green;
    color: white;
    padding: 4px;
    /* flex-grow: 1; */
    /* margin-right: 2px; */
}

.navbar{
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.navbar-title{
    font-weight: 700;
}

.navbar-btn-container{
    border: 1px solid #000000;
    display: flex;
    border-radius: 4px;
}

.navbar-btn-container > div {
    border-right: 1px solid #000000;
    padding: 12px;
}

body{
    padding: 0;
    margin: 0;
}

.container-content{
    display: flex;
}

.main-content{
    width: 60%;
}

.contact-content{
    width: 40%;
}

.content{
    padding: 16px;
}

.box{
    display: inline-block;
    float: inline-end;
    width: 50%;
    background-color: orange;
    height: 80%;
}

.box-2{
    display: inline-start;
    /* float: inline-start; */
    width: 50%;
    background-color: blue;
    height: 80px;
}


.layout{
    padding: 8px;
  width: 100%;
  border: 1px solid black;
  height: 300px;  
  background-color: blue;
}

body{
    padding: 16px;
}

/* Implementasi Pake Pixel (PX) */
.kotak-1{
 height: 100px;
 width: 150px;
 background-color: red;
 /* margin-right: 16px; */
}

/* Implementasi Pake Persentase (%) */
.kotak-2{
    height: 100px;
    width: 150px;
    /* float: right; */
    background-color: orange;
}

.kotak-3{
    height: 50%;
    width: 50%;
    /* float: right; */
    background-color: green;
}

/* Flexbox */
.parent-flex{
    display: flex;
    flex-direction: row;
    /* Mengatur Posisi Content */
    /**
    flex-start: mengatur posisi item ada di awal
    flex-end: mengatur posisi item di akhir
    center: mengatur posisi tengah
    space-between: jarak di antara item
    */
    justify-content: space-between;

    align-items: center;
}